{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About us
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock %}

{% block body_block %}
    
<h1>About Us</h1>

<div class="top">
    Created in 2021, this website allows dessert lovers to find desserts uploaded by shop owners all around the world, and they can also leave their own reviews of the desserts for everyone else to have a light understanding of them.
</div>

{% endblock %}
