{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About us
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock %}

{% block body_block %}
<div class="top">
    <h1>About Us</h1>
    <p>
        Created in 2021, we created this website to allow dessert lovers to find desserts uploaded by shop owners all around the world quicker and easier.
    </p>
    <p>
        Thoughts on the desserts can also be left for everyone else to have an understanding of them through the ratings and reviews.
    </p>
</div>
<br>
<h2 style="text-align: center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Robbie Edgar</h2>
                <p class="title">Co-Founder & Designer</p>
                <p>The technical support guy</p>
                <p>2461502E@student.gla.ac.uk</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Soyaba Hasan</h2>
                <p class="title">Co-Founder & Designer</p>
                <p>The designer</p>
                <p>2379221H@student.gla.ac.uk</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    
        <div class="column">
        <div class="card">
            <div class="container">
                <h2>Cheuk Yeung Sophia Chung</h2>
                <p class="title">Co-Founder & Designer</p>
                <p>The clean up crew</p>
                <p>2572294C@student.gla.ac.uk</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
