{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a dessert
{% endblock %}

{% block body_block %}
    <h1>Add a Dessert</h1>
        <div>
            <form id="dessert_form" method="post" action="{% url 'dessertreview:add_dessert' %}" enctype="multipart/form-data".>
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field.label }}<br>
                    {{ field }}<br>
                {% endfor %}
                <input type="submit" name="submit" value="Add Dessert" />
            </form>
        </div>
{% endblock %}