{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a shop
{% endblock %}

{% block body_block %}
{% if request.user.is_staff %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Add a Shop</h5>
                    <form id="shop_form" method="post" action="{% url 'dessertreview:add_shop' %}" enctype="multipart/form-data">

                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            
    
    <div>
            
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field.label }}<br>
                {{ field }}<br>
            {% endfor %}
            <input type="submit" name="submit" value="Add Shop" />
        </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% else %}
<h1 class="text-center my-4">This page is reserved for staff.</h2>
{% endif %}
{% endblock %}