{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>
        <a href="{% url 'dessertreview:add_dessert' %}">Add Dessert</a><br>
        {% if desserts %}
            <ul>
                {% for dessert in desserts %}
                    <li><a href="{% url 'dessertreview:show_dessert' dessert.slug %}">{{ dessert.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No desserts currently in this category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}