{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        <title>{{ category.name }}</title>
    {% else %}
        <title>Unknown Category</title>
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if desserts %}
            <ul>
                {% for dessert in desserts %}
                    <li><a href="{% url 'dessertreview:show_dessert' dessert.slug %}">{{ dessert.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No desserts currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}