{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Categories
{% endblock %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}
{% block body_block %}
    <div class="v153_332">
        <span class="v153_333 text-center">
            <h1> Categories </h1></span><br /><br /><br />
        
            
    </div><br />
    <div class="main px-5 mx-5 mb-5">
    <div class="center" style="text-align: center;">
    <img src="{% static 'images/cake2.jpg' %}" alt="Desserts" width="1250" height="400" class="center">
</div>
    <div class="container" style="text-align: left;"><br /><br />
    <a class="btn btn-primary" href="{% url 'dessertreview:add_category' %}" role="button">Add Category</a>

   <br /><br /><br />
   
        {% if categories %}
        <ul class="list-group my-4">

        
            {% for c in categories %}
            <li class="list-group-item h3 m-0 set-background">
          
                    <a class="list" href="{% url 'dessertreview:show_category' c.slug %}"><p style="text-align: center; top: 50%;">{{ c.name }}</p></a>
                    
            </li>
                
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    
   
</div>
{% endblock %}