{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
<div class="container text-center">
    <div class="jumbotron p-4">
        <div class="container">
    {% if category %}
        <h1 class="jumbotron-heading">{{ category.name }}</h1>
        <center><a class="btn btn-primary" href="{% url 'dessertreview:add_dessert' %}" role="button">Add a Dessert</a></center>

        
        {% if desserts %}
        <div class="row">

            <ul class="list-group my-4">
                {% for dessert in desserts %}
                
                    <li class="list-group-item h3 m-0 set-background">
                        <a href="{% url 'dessertreview:show_dessert' dessert.slug %}">{{ dessert.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No desserts currently in this category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
        </div>
        </div>
{% endblock %}