{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Categories
{% endblock %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}
{% block body_block %}
    <div class="v153_332">
        <span class="v153_333 text-center">
            <h1> Categories </h1></span><br /><br /><br />
        
            
    </div>

    <div class="container" style="text-align: left;">
    <a class="btn btn-primary" href="{% url 'dessertreview:add_category' %}" role="button">Add Category</a>

   <br>
    <div>
        {% if categories %}
            {% for c in categories %}
                <div class="category" >
                    <a href="{% url 'dessertreview:show_category' c.slug %}"><p style="text-align: center; top: 50%;">{{ c.name }}</p></a>
                </div>
            {% endfor %}
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>
</div>
{% endblock %}