{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Categories
{% endblock %}


{% block body_block %}
    <div class="v153_332">
        <span class="v153_333 text-center">
            <h1> Categories </h1></span><br /><br /><br />
        
            
    </div>

    <div class="container" style="text-align: left;">
    <a class="btn btn-primary" href="{% url 'dessertreview:add_category' %}" role="button">Add Category</a>

   <br /><br /><br />
    <ul>
        {% if categories %}
        <ul class="list-group">
            {% for c in categories %}
                <li class="pl-3 pr-3 pb-2"> 
                    <a class="bugged" href="{% url 'dessertreview:show_category' c.slug %}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <li><strong>There are no categories present.</strong></li>
        {% endif %}
    </ul>
</div>
{% endblock %}