{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if dessert %}
        {{ dessert.name }}
    {% else %}
        Unknown Dessert
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if dessert %}
        <h1>{{ dessert.name }}</h1>
        <p>{{dessert.description}}</p>
        <p>
            Served at <a href="{% url 'dessertreview:show_shop' dessert.shop.slug %}">{{dessert.shop}}</a>
        </p>
        <img src="/media/{{dessert.picture}}" alt="image of {{dessert.name}}" width="300" height="300"/>
        
    {% else %}
        The specified dessert does not exist.
    {% endif %}
{% endblock %}