{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    theDessertReview
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body_block %}
<div class="bg">
<section class="py-5 text-center container">

<div class="v153_332">
    <span class="v153_333 text-center">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
     
                
        <h1> Welcome to theDessertReview</h1>
   
      <p class="lead text-muted">A place for the dessert lovers!</p>
    </span>
</div>
    <br />
    <section class="py-5 text-center container">
  
    <a href="#" class="btn btn-primary my-2">For Businesses</a>
    <a href="#" class="btn btn-secondary my-2">Write a review</a>
  </p>
</div>

    </section>
</section>
<br />








    


    <div id="border">
        
        <div class="float-sm-left">

            
            
            
            <div class="jumbotron jumbotron-fluid">
                <h5 class="display-4">Categories</h5>

                <div class="row">
                    
                  <div class="col-lg-8 mx-auto">
  
            {% if categories %}
            
            <p class="lead">
                <ul>
                {% for category in categories %}

                    <li style="list-style-type: none; display: table; text-align: left;">
                    
                        <a style="font-size:15px" class="card-body" style="width: 18rem;" href="{% url 'dessertreview:show_category' category.slug %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </p>
            {% else %}
                <p>No categories found</p>
                
            {% endif %}
           
                  </div>
                  </div>
                  
                
           
            <div class="jumbotron jumbotron-fluid">
                <h5 class="display-4">Shops</h5>

                <div class="row">
                    
                    <div class="col-lg-8 mx-auto">
            {% if shops %}
            <p class="lead">
                <ul>
                {% for shop in shops %}
                    <li style="list-style-type: none; display: inline-block; text-align: left;">
                        <a style="font-size:15px" class="card-body" style="width: 18rem;" href="{% url 'dessertreview:show_shop' shop.slug %}">{{ shop.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </p>
            {% else %}
                <p>No shops found</p>
            {% endif %}
        </div>
    </div>
            <br />
        
        </div>

    </div>
    
   
    
{% endblock %}
    
<!--credit to "https://www.embedgooglemap.net"-->