{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    theDessertReview
{% endblock %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% block body_block %}

<div class="v153_332">
    <span class="v153_333 text-center">
        <h1> Welcome to theDessertReview</h1>
    </span>
    <br />

    <div id="border">
        <div class="float-left">
            Categories
            {% if categories %}
                <ul>
                {% for category in categories %}
                    <li>
                        <a href="{% url 'dessertreview:show_category' category.slug %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No categories found</p>
            {% endif %}
            <br />
            Shops
            {% if shops %}
                <ul>
                {% for shop in shops %}
                    <li>
                        <a href="{% url 'dessertreview:show_shop' shop.slug %}">{{ shop.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No shops found</p>
            {% endif %}
            <br />
            
        </div>
        <div class="float-right">
            <img src="{% static 'images/homebg.jpeg'%}" class="float-right-background">
            <p class="style">
                Welcome to theDessertReview, a place for dessert lovers to share their experience
            </p>
            <div class="container">
                <div class="content">
                    <button type="button" class="btn btn-primary btn-lg">For Business</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg" onclick="{% url 'dessertreview:login' %}">Write a review</button>
                </div>
            </div>
        </div>

    </div>
    
    <br />
</div>

{% endblock %}
    
<!--credit to "https://www.embedgooglemap.net"-->