{% extends 'dessertreview/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
	My Reviews
{% endblock %}

{% block head_block %}
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link href="./myreview.css" rel="stylesheet" />
    <div class="v153_332">
      <span class="v153_333 text-center">
    <title>My Reviews</title>
{% endblock %}

{% block body_class %}

{% endblock %}


{% block body_block %}
    <div class="main px-5 mx-5 mb-5">
        <h2 class="text-center my-4">My Reviews</h2>
        <br>
        <div class="text-center">
            <br/>
            <img src="{% static 'images/Desserts.jpeg' %}" alt="Desserts" width="950" height="300" class="center">
            <br/>

            <br />
            <div class="d flex justtify-content-start">
              <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
              My Reviews
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
            

            
        </div>
    </div>
{% endblock %}
