{% extends 'dessertreview/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
	My Reviews
{% endblock %}

{% block head_block %}
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link href="./myreview.css" rel="stylesheet" />
    <div class="v153_332">
      <span class="v153_333 text-center">
    <title>My Reviews</title>
{% endblock %}

{% block body_class %}

{% endblock %}


{% block body_block %}
    <div class="main px-5 mx-5 mb-5">
        <h2 class="text-center my-4">My Reviews</h2>
        <br>
        <div class="text-center">
            <br/>
            <img src="{% static 'images/Desserts.jpeg' %}" alt="Desserts" width="900" height="300" class="center">
            <br/>
            {% if reviews %}
                {% regroup reviews by user as user_reviews %}
                    {% for user in user_reviews %}
                        <h3>{{ user.grouper }}</h3>
                        <div class="d-flex flex-wrap img-gallery">
                        {% for review in user.list %} 
                                <a href="{% url 'dessertreview:show_review' review.slug %}">
                                    <figure>
                                        <figcaption>{{review.name}}</figcaption>
                                    </figure>
                                </a>
                        {% endfor %}
                    </div>
                {% endfor %}
            
                {% else %}
                <strong>You have not made any reviews.</strong>
            {% endif %}
        {% else %}
            Username does not exist.
    {% endif %}
            <br />
        </div>
    </div>
{% endblock %}
