{% extends 'dessertreview/base.html' %}
{% load staticfiles %}


{% block title_block %}
	Create an Account
{% endblock %}

{% block head_block %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
{% endblock %}

{% block body_block %}
<div class="main">
    {% if registered %}
        <span class="v153_333 text-center">
            <h1>Thank you for registering with theDessertReview!</h1>
            <strong><h2>You can now login</h2>!</strong><br />
        </span>
    {% else %}
        <div class="v153_332">
            <span class="v153_333 text-center">
                <h1>Become a part of the community!</h1>
                <strong><h2>Register here</h2>!</strong><br />
            </span>
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <div class="v0_743">
                                    <div class="form-group" style="margin:auto" >	
                                        <div class="v153_332">							
                                            <form id="user_form" method="post" action="{% url 'dessertreview:register' %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <!-- Display each form -->

                                                {{ user_form.as_p }}
                                                {{ profile_form.as_p }}

                                                <!-- Provide a button to click to submit the form. -->
                                                <input type="submit" name="submit" value="Register" />
                                            </form>

                                            <p>
                                                Already got an Account?
                                                <a href="{% url 'dessertreview:login' %}">Login Here</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %} 
</div>
{% endblock %}