{% extends 'dessertreview/base.html' %}
{% load staticfiles %}

<html>

    <head>
        <title>
            Dessert Review - 
            {% block title_block %}
				Write a Review
			{% endblock %}
        </title>
    </head>
    
    <body>
        <h1>Write a Review</h1>
        <div>
            {% block body_block %}
                <a href="/dessertreview/">Home</a>
			{% endblock %}
        </div>
        
        <hr />
        <div>
            <a href="{% url 'dessertreview:my_reviews %}">My Reviews</a>
        </div>
    </body>
</html>