.float-left {
    width: 25%;
    float: left;
    padding: 20px;
}
.float-right {
    width: 75%;
    background-size: auto auto;
    text-align: center;
    position: fixed; 
    padding: 20px;
}

.float-right-background {
    opacity: 0.5;
    position:absolute;
}
.content {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#border {
    border: 1px solid #F5F5F5;
    margin-bottom: 10px;
    border-radius: 3px;
}
.style {
    position: relative;
    font-family: monospace;
    font-size: 20px;
}
body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  
    /* Full height */
    height: 50%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }