.float-left {
    width: 25%;
    float: left;
    padding: 20px;
    background-color: aliceblue;
}
.float-right {
    width: 75%;
    display: block;
    padding: 20px;
    text-align: center;
}
.content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#border {
    border: 1px solid #F5F5F5;
    margin-bottom: 10px;
    border-radius: 3px;
}
.mapouter{
    position: static;
    text-align:right;
    height:282px;
    width:393px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:282px;
    width:393px;
}